.post-linkflair-esports .flair-teamrs {opacity: .2;}
.post-linkflair-esports .flair-teamfnatic {opacity: .2;}
.post-linkflair-esports .flair-teamdk {opacity: .2;}
.post-linkflair-esports .flair-teamehome {opacity: .2;}
.post-linkflair-esports .flair-teamtongfu {opacity: .2;}
.post-linkflair-esports .flair-teamcol {opacity: .2;}
.post-linkflair-esports .flair-teammouz {opacity: .2;}
.post-linkflair-esports .flair-teammtw {opacity: .2;}
.post-linkflair-esports .flair-teameg {opacity: .2;}
.post-linkflair-esports .flair-teamnavi {opacity: .2;}
.post-linkflair-esports .flair-teamclg {opacity: .2;}
.post-linkflair-esports .flair-teamzenith {opacity: .2;}
.post-linkflair-esports .flair-teamal {opacity: .2;}
.post-linkflair-esports .flair-teamig {opacity: .2;}
.post-linkflair-esports .flair-teamdarer {opacity: .2;}
.post-linkflair-esports .flair-teamm5 {opacity: .2;}
.post-linkflair-esports .flair-teamoj {opacity: .2;}
.post-linkflair-esports .flair-teama {opacity: .2;}
.post-linkflair-esports .flair-teamquantic {opacity: .2;}
.post-linkflair-esports .flair-teamlgdint {opacity: .2;}
.post-linkflair-esports .flair-teamdignitas {opacity: .2;}
.post-linkflair-esports .flair-teammufc {opacity: .2;}
.post-linkflair-esports .flair-teamspeed {opacity: .2;}
.post-linkflair-esports .flair-teamsigma {opacity: .2;}
.post-linkflair-esports .flair-teamc9 {opacity: .2;}
.post-linkflair-esports .flair-teammvp {opacity: .2;}
.post-linkflair-esports .flair-teamrox {opacity: .2;}
.post-linkflair-esports .flair-teamehug {opacity: .2;}
.post-linkflair-esports .flair-teamempire {opacity: .2;}
.post-linkflair-esports .flair-teamvici {opacity: .2;}
.post-linkflair-esports .flair-teamtitan {opacity: .2;}
.post-linkflair-esports .flair-teamnewbee {opacity: .2;}
.post-linkflair-esports .flair-teamdt {opacity: .2;}
.post-linkflair-esports .flair-teamnavina {opacity: .2;}
.post-linkflair-esports .flair-teamarrow {opacity: .2;}
.post-linkflair-esports .flair-teamcis {opacity: .2;}
.post-linkflair-esports .flair-teamnyx {opacity: .2;}
.post-linkflair-esports .flair-teamsecret {opacity: .2;}
.post-linkflair-esports .flair-teamxtcn {opacity: .2;}
.post-linkflair-esports .flair-teamtinker {opacity: .2;}
.post-linkflair-esports .flair-teamanchor {opacity: .2;}
.post-linkflair-esports .flair-teamnt {opacity: .2;}
.post-linkflair-esports .flair-teambiggod {opacity: .2;}
.post-linkflair-esports .flair-teamcdec {opacity: .2;}
.post-linkflair-esports .flair-teamhr {opacity: .2;}
.post-linkflair-esports .flair-teamnip {opacity: .2;}
.post-linkflair-esports .flair-teamrave {opacity: .2;}
.post-linkflair-esports .flair-teamvega {opacity: .2;}
.post-linkflair-esports .flair-teamlc {opacity: .2;}
.post-linkflair-esports .flair-teamog {opacity: .2;}
.post-linkflair-esports .flair-teamunknown {opacity: .2;}
.post-linkflair-esports .flair-teammineski {opacity: .2;}
.post-linkflair-esports .flair-teamplanetodd {opacity: .2;}
.post-linkflair-esports .flair-teamarchon {opacity: .2;}
.post-linkflair-esports .flair-teamwings {opacity: .2;}
.post-linkflair-esports .flair-teamtnc {opacity: .2;}
.post-linkflair-esports .flair-teamescape {opacity: .2;}
.post-linkflair-esports .flair-teamadfinem {opacity: .2;}
.post-linkflair-esports .flair-teamfaceless {opacity: .2;}
.post-linkflair-esports .flair-teamnp {opacity: .2;}
.post-linkflair-esports .flair-teamdc {opacity: .2;}
.post-linkflair-esports .flair-teamsg {opacity: .2;}
.post-linkflair-esports .flair-teaminfamous {opacity: .2;}
.post-linkflair-esports .flair-teamkinguin {opacity: .2;}
.post-linkflair-esports .flair-teamoptic {opacity: .2;}
.post-linkflair-esports .flair-teamvgj {opacity: .2;}
.post-linkflair-esports .flair-teampain {opacity: .2;}
.post-linkflair-esports .flair-teamwinstrike {opacity: .2;}
.post-linkflair-esports .flair-teamserenity {opacity: .2;}
.post-linkflair-esports .flair-teamkeen {opacity: .2;}
.post-linkflair-esports .flair-teamrng {opacity: .2;}
.post-linkflair-esports .flair-teamnigma {opacity: .2;}
.post-linkflair-esports .flair-teamaster {opacity: .2;}
.post-linkflair-esports .flair-teamarkosh {opacity: .2;}
.post-linkflair-esports .flair-teamvikingg {opacity: .2;}
.post-linkflair-esports .flair-teamqc {opacity: .2;}
.post-linkflair-esports .flair-team4zoomers {opacity: .2;}
.post-linkflair-esports .flair-teamboom {opacity: .2;}
.post-linkflair-esports .flair-teamt1 {opacity: .2;}
.post-linkflair-esports .flair-teamhokori {opacity: .2;}

/*.post-linkflair-esports .flair-teamtl {opacity: .2;}*/
/*.post-linkflair-esports .flair-teamgg {opacity: .2;}*/
/*.post-linkflair-esports .flair-teamtundra {opacity: .2;}*/
/*.post-linkflair-esports .flair-team9pandas {opacity: .2;}*/
/*.post-linkflair-esports .flair-teameg2022 {opacity: .2;}*/
/*.post-linkflair-esports .flair-teamlgd {opacity: .2;}*/
/*.post-linkflair-esports .flair-teamrebellion {opacity: .2;}*/
/*.post-linkflair-esports .flair-teamtalon {opacity: .2;}*/
/*.post-linkflair-esports .flair-teambeastcoast {opacity: .2;}*/
/*.post-linkflair-esports .flair-teamspirit {opacity: .2;}*/
/*.post-linkflair-esports .flair-teamtsm {opacity: .2;}*/
/*.post-linkflair-esports .flair-teambetboom {opacity: .2;}*/
/*.post-linkflair-esports .flair-teamnouns {opacity: .2;}*/
/*.post-linkflair-esports .flair-teamkeyd {opacity: .2;}*/
/*.post-linkflair-esports .flair-teamthunder {opacity: .2;}*/
/*.post-linkflair-esports .flair-teamentity {opacity: .2;}*/
/*.post-linkflair-esports .flair-teamvp {opacity: .2;}*/
/*.post-linkflair-esports .flair-teamquest {opacity: .2;}*/
/*.post-linkflair-esports .flair-teamazureray {opacity: .2;}*/
/*.post-linkflair-esports .flair-teamsmg {opacity: .2;}*/
