.post-linkflair-esports .flair-teamrs {opacity: .2;}
.post-linkflair-esports .flair-teamdk {opacity: .2;}
.post-linkflair-esports .flair-teamehome {opacity: .2;}
.post-linkflair-esports .flair-teamtongfu {opacity: .2;}
.post-linkflair-esports .flair-teamcol {opacity: .2;}
.post-linkflair-esports .flair-teammouz {opacity: .2;}
.post-linkflair-esports .flair-teammtw {opacity: .2;}
.post-linkflair-esports .flair-teamnavi {opacity: .2;}
.post-linkflair-esports .flair-teamclg {opacity: .2;}
.post-linkflair-esports .flair-teamzenith {opacity: .2;}
.post-linkflair-esports .flair-teamal {opacity: .2;}
.post-linkflair-esports .flair-teamdarer {opacity: .2;}
.post-linkflair-esports .flair-teamm5 {opacity: .2;}
.post-linkflair-esports .flair-teamoj {opacity: .2;}
.post-linkflair-esports .flair-teama {opacity: .2;}
.post-linkflair-esports .flair-teamquantic {opacity: .2;}
.post-linkflair-esports .flair-teamlgdint {opacity: .2;}
.post-linkflair-esports .flair-teamdignitas {opacity: .2;}
.post-linkflair-esports .flair-teammufc {opacity: .2;}
.post-linkflair-esports .flair-teamspeed {opacity: .2;}
.post-linkflair-esports .flair-teamsigma {opacity: .2;}
.post-linkflair-esports .flair-teammvp {opacity: .2;}
.post-linkflair-esports .flair-teamrox {opacity: .2;}
.post-linkflair-esports .flair-teamehug {opacity: .2;}
.post-linkflair-esports .flair-teamvici {opacity: .2;}
.post-linkflair-esports .flair-teamtitan {opacity: .2;}
.post-linkflair-esports .flair-teamdt {opacity: .2;}
.post-linkflair-esports .flair-teamnavina {opacity: .2;}
.post-linkflair-esports .flair-teamarrow {opacity: .2;}
.post-linkflair-esports .flair-teamcis {opacity: .2;}
.post-linkflair-esports .flair-teamnyx {opacity: .2;}
.post-linkflair-esports .flair-teamtinker {opacity: .2;}
.post-linkflair-esports .flair-teamanchor {opacity: .2;}
.post-linkflair-esports .flair-teamnt {opacity: .2;}
.post-linkflair-esports .flair-teambiggod {opacity: .2;}
.post-linkflair-esports .flair-teamcdec {opacity: .2;}
.post-linkflair-esports .flair-teamnip {opacity: .2;}
.post-linkflair-esports .flair-teamrave {opacity: .2;}
.post-linkflair-esports .flair-teamvega {opacity: .2;}
.post-linkflair-esports .flair-teamlc {opacity: .2;}
.post-linkflair-esports .flair-teamunknown {opacity: .2;}
.post-linkflair-esports .flair-teammineski {opacity: .2;}
.post-linkflair-esports .flair-teamdc {opacity: .2;}
.post-linkflair-esports .flair-teamarchon {opacity: .2;}
.post-linkflair-esports .flair-teamwings {opacity: .2;}
.post-linkflair-esports .flair-teamescape {opacity: .2;}
.post-linkflair-esports .flair-teamadfinem {opacity: .2;}
.post-linkflair-esports .flair-teamfaceless {opacity: .2;}
.post-linkflair-esports .flair-teamnp {opacity: .2;}
.post-linkflair-esports .flair-teamsg {opacity: .2;}

/*.post-linkflair-esports .flair-teammonkey {opacity: .2;} */
/*.post-linkflair-esports .flair-teamvp {opacity: .2;} */
/*.post-linkflair-esports .flair-teameg {opacity: .2;} */
/*.post-linkflair-esports .flair-teamtl {opacity: .2;} */
/*.post-linkflair-esports .flair-teamig {opacity: .2;} */
/*.post-linkflair-esports .flair-teamnewbee {opacity: .2;} */
/*.post-linkflair-esports .flair-teamsecret {opacity: .2;} */
/*.post-linkflair-esports .flair-teamhr {opacity: .2;} */
/*.post-linkflair-esports .flair-teamempire {opacity: .2;} */
/*.post-linkflair-esports .flair-teamlgd {opacity: .2;} */
/*.post-linkflair-esports .flair-teamtnc {opacity: .2;} */
/*.post-linkflair-esports .flair-teamfnatic {opacity: .2;} */
/*.post-linkflair-esports .flair-teamxtcn {opacity: .2;} */
/*.post-linkflair-esports .flair-teamc9 {opacity: .2;} */
/*.post-linkflair-esports .flair-teamonyx {opacity: .2;} */
/*.post-linkflair-esports .flair-teaminfamous {opacity: .2;} */
